<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto2Android">

        <!-- Login Activity (LAUNCHER) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Activities -->
        <activity
            android:name=".activities.admin.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activities.admin.PostulantesActivity"
            android:exported="false" />

        <!-- Postulante Activities -->
        <activity
            android:name=".activities.postulante.PerfilActivity"
            android:exported="false" />

        <activity
            android:name=".activities.postulante.DocumentosActivity"
            android:exported="false" />

        <!-- Ajustes Activity -->
        <activity
            android:name=".activities.AjustesActivity"
            android:exported="false" />

        <!-- Cambiar Contraseña, Usuario y Correo Activities -->
        <activity
            android:name=".activities.postulante.CambiarContrasenaActivity"
            android:exported="false" />

        <activity
            android:name=".activities.postulante.CambiarUsuarioActivity"
            android:exported="false" />

        <activity
            android:name=".activities.postulante.CambiarCorreoActivity"
            android:exported="false" />

        <activity
            android:name=".activities.admin.PerfilCandidatoActivity" />

    </application>

</manifest>